@import url('../variables.css');

body {
    background-color: var(--blue);
}

#major-container {
    width: 98%;
    height: 96%;
    gap: 2%;

    display: flex;
    flex-direction: row;
}

#wrap {
    flex: 1;
    min-width: 0;
}

#front-desk {
    display: flex;
    flex-direction: row;
    gap: 2%;

    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

#welcome {
    background-color: rgb(182, 102, 182);
}

#welcome {
    min-width: 600px;
    min-height: 70px;
}

main>*, #front-desk>* {
    border-radius: 10px;
    padding: 1.5% 0 1.5% 2%;
}

#front-desk>* {
    padding-top: 0.8%;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wrap-for-scroll {
    display: flex;
    align-items: baseline;
    flex: 0 1 auto;
    overflow-x: auto;
    gap: 2%;
    margin: 1% 0;
}

.wrap-for-scroll>* {
    min-width: 700px;
    flex-shrink: 0;
}

.wrap-for-scroll::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
    
    overflow: hidden;
    text-align: center;
    background-color: var(--table-grey);
}

table th {
    padding: 2% 0;
    color: var(--white);
    font-weight: 600;
}

table td {
    padding: 2.45% 0;
}

table tbody:nth-child(even) {
    background-color: var(--table-row);
}

table thead {
    background-color: var(--blue);
}

table tbody {
    font-weight: 500;
}

.table-container {
    background-color: var(--table-background);
    padding: 1% 1.25% 1.5%;
    border-radius: 6px;
}

.table-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 1.5%;
}

.table-info>:first-child {
    display: flex;
    flex-direction: column;
}

.situation span {
    padding: 1.5% 8%;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    font-weight: 500;    
    white-space: nowrap;

    color: #454545d3;
    background-color: #45454518;
    border-color: #4545452a;
}

.situation .approved {
    color: #13734B9f;
    background-color: #61CA9E4D;
    border-color: #2591634D;
}

.situation .failed {
    color: #7c0a0a9f;
    background-color: #FF6C6C4D;
    border-color: #C84A4A4D;
}

aside {
    width: 5%;
    border-radius: 10px;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}

#menu-checkbox {
    display: none;
}

#menu-icon {
    margin-top: 60%;
}

.sidebar-icon {
    width: 24px;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personal-info {
    display: flex;
    gap: 2%;
    width: 40%;
    justify-content: end;
    align-items: center;
    overflow: hidden;

    color: var(--white);
}

.personal-info>img {
    width: 8%;
    aspect-ratio: 1 / 1;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    border-color: var(--white);
}

.personal-info h3 {
    font-size: 0.9rem;
    font-weight: 600;
}

.personal-info p {
    font-size: 0.75rem;
}

.table-actions {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2%;
    width: 70%;
}

.table-actions label, .table-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.table-actions label, .table-actions button, .table-actions input[type="text"] {
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #4646462c;
    background-color: rgba(246, 246, 246, 0.15);

    padding: 1%;
    color: var(--black);
    font-weight: 500;
    box-shadow: var(--shadow-simple);
}

.table-actions input[type="text"] {
    padding: 1%;
    padding-left: 2%;
    width: 45%;   
}

.table-actions img {
    width: 16px;
}

.table-actions .search-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.table-actions>:last-child {
    width: 30%;
}

@media (max-width: 800px) {
    .table-actions span {
        display: none !important;
    }

    .table-actions>:last-child {
        width: auto;
    }
}

.table-actions>:last-child * {
    display: flex;
    align-items: center;
    gap: 2%;

    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-actions:has(input:checked) input[type="text"] {
    display: none;
}