@import url('../variables.css');

body {
    background-color: var(--blue);
}

#major-container {
    width: 98%;
    height: 96%;
    gap: 2%;

    display: flex;
    flex-direction: row;
}

#major-container>* {
    background-color: var(--white);
    border-radius: 10px;
}

#wrap {
    flex: 1;
    min-width: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1.25%;
}

aside {
    display: none;
    width: 5%;
}

.wrap-for-scroll {
    display: flex;
    align-items: baseline;
    flex: 0 1 auto;
    overflow-x: auto;
    gap: 2%;
}

.wrap-for-scroll>* {
    min-width: 620px;
    flex-shrink: 0;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table th {
    padding: 1.5% 0;
    color: var(--white);
    font-weight: 600;
}

table td {
    padding: 2.15% 0;
}

tbody:nth-child(2n) {
    background-color: var(--table-row);
}

table thead {
    background-color: var(--blue);
}

.table-container {
    background-color: var(--table-background);
    padding: 0.5%;
    border-radius: 6px;
}

.table-info {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
}

.table-info>:first-child {
    display: flex;
    flex-direction: column;
}

