@import url('../variables.css');

body {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;

    white-space: nowrap;
}

div>:first-child {
    margin-bottom: 5%;
}

a {
    width: 40%;
    padding: 1% !important;
    color: var(--white) !important;
}