@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(variables.css);

* {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: var(--black);
}

a {
  color: var(--hyperlink-blue);
  text-decoration: none;
}

button {
  font-weight: 500;
  color: var(--white);
}

p, .thin {
  font-size: 1.05rem;
  font-weight: 450;
}

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.lato.thin {
  font-weight: 100;
}

.lato.light {
  font-weight: 300;
}

.lato.regular {
  font-weight: 400;
}

.lato.bold {
  font-weight: 700;
}

.lato.black {
  font-weight: 900;
}

.lato.thin-italic {
  font-weight: 100;
}

.lato.light-italic {
  font-weight: 300;
}

.lato.regular-italic {
  font-weight: 400;
}

.lato.bold-italic {
  font-weight: 700;
}

.lato.black-italic {
  font-weight: 900;
}
