body {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form {
    width: 60%;
    height: fit-content;
    max-width: 400px;
    min-width: 300px;
    
    display: flex;
    flex-direction: column;
}

.input-container>:first-child {
    margin-bottom: 1%;
}

.login-form>:first-child {
    margin-bottom: 5%;
}

.login-form form>:last-child {
    margin-bottom: 0;
}

.login-form .forgot-password {
    margin: 5% 0;
}

.login-form form {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form>form>* {
    margin-bottom: 5%;
}
