@import url('../variables.css');

.popup {
    width: 30%;
    height: fit-content;
    margin: auto;
    padding: 3% 3%;
    inset: 0;

    position: fixed;
    max-width: 320px;
 
    text-align: left;
    border: 0;
    border-radius: 12px;
}

.popup::backdrop {
    background: rgba(0, 0, 0, .4);
}

.popup form {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup .input-major>* {
    margin-bottom: 5%;
}

.popup form .button {
    margin-top: 9%;
}

.popup input,
.popup .button {
    min-height: 32px;
}

.popup>:first-child {
    text-align: center;
    margin-bottom: 10%;
}


