@import url(variables.css);

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

img, button>*, select, a {
    user-select: none;
    -webkit-user-drag: none;
}

.text-box, .button {
    border-width: thin;
    border-style: solid;
    box-sizing: border-box;
    padding: 2.5% 0;

    box-shadow: var(--shadow-simple);
}

.button {
    background: var(--lake-green);
    background: var(--gradient-lake-green);
    border-color: var(--white);
    border-radius: 10px;

    cursor: pointer;
}

.text-box {
    width: 100%;
    background-color: rgba(246, 246, 246, 0.15);
    border-color: #4646462c;
    border-radius: 3px;

    transition: box-shadow 0.3s ease-in-out;
}

.text-box {
    padding-left: 3%;
}

.text-box::placeholder, .search-box::placeholder {
    background-color: transparent;
    font-weight: 500;
}

.text-box:focus, .search-box:focus {
    box-shadow: var(--shadow-focus);
    outline: none;
}

.logo {
    max-width: 200px;
}

#closed {
    display: none;
}

.select-box {
    outline: none;
    appearance: none;

    border-style: solid;
    background-color: rgba(246, 246, 246, 0.15);
    border-color: #4646462c;
    border-radius: 3px;

    transition: box-shadow 0.3s ease-in-out;

    min-width: 145px;
    padding: 0.1% 2.5% 0.1% 1%;
    background-image: url('../img/svg/caret-down.svg');
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.select-box object {
    font-weight: 400;
}