:root {
    /* colors */

    --black: #333333;
    --dark-grey: #464646;
    --white: #FFFFFF;
    
    --hyperlink-blue: #4D81E7;
    --lake-green: #61CB9F;

    --gradient-lake-green: linear-gradient(90deg, rgba(97, 203, 159, 1) 0%, rgb(91, 192, 150) 100%);

    --text-box-border: #2727272c;
    
    /* shadows ↓ */
    --shadow-simple: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}