:root {
    /* colors */

    --black: #333333;
    --dark-grey: #464646;
    --white: #FFFFFF;
    
    --hyperlink-blue: #4D81E7;
    --blue: #3C71BA;
    --lake-green: #61CB9F;
    --red: #D13E3E;

    --table-grey: #CDD7D6;
    --table-background: rgba(164, 164, 164, 0.15); /* #A4A4A4 */
    --table-row: rgba(0, 0, 0, 0.05); /* #000000 */

    --sidebar-icon: rgba(158, 158, 158, 0.200);
    --sidebar-icon-hover: rgba(158, 158, 158, 0.514);
    --sidebar-icon-active: rgba(158, 158, 158, 0.205);
    
    --sidebar-icon-emphasis: #cae0ff;
    --sidebar-icon-emphasis-hover: #77acf5;
    --sidebar-icon-emphasis-active: #97c3ff;

    --sidebar-icon-sign-out: #F9CECE;
    
    --gradient-lake-green: linear-gradient(90deg, rgba(97, 203, 159, 1) 0%, rgb(91, 192, 150) 100%);

    --text-box-border: #2727272c;
    
    /* shadows ↓ */
    --shadow-simple: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    --shadow-focus: rgba(149, 157, 165, 0.2) 0px 12px 24px;
}